MONGO_URI=mongodb://root:root@mongo:27017/routes?authSource=admin&directConnection=true

KAFKA_BROKER=kafka:9092

KAFKA_SIMULATION_TOPIC=simulation
KAFKA_ROUTE_TOPIC=route
KAFKA_FREIGHT_TOPIC=freight
KAFKA_GROUP_ID=auto-tracking-simulator